@import url('http://fonts.cdnfonts.com/css/noteworthy');

/* for desktop screen*/
 
@media screen and (min-width:960px) {

    body {
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        background-image: url(./Images/fabricationbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        box-sizing: border-box;
        max-width: 100vw;
         
    }
    
    body, ul,li,p, a {
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
       
         
    }
     
    * 
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noteworthy', sans-serif;
    
    }
    
    


    header {
        display: flex;
        margin-top: 20px;
        box-sizing: border-box;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    
    
    a {
            color: beige;
    }
    
    
  header  .leftIcons li{
    display: inline-flex;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    justify-content: space-evenly;
    
    }

   .leftIcons a img {
       justify-content: space-between;
        width: 100%;
        height: 100%;
       
    }
    
    .icons:hover{
        transition: 2s;
        transform: scale(2.0);
    }
    
    .logo {
        width: 100px;
    }
    
    .logo:hover{
        transition: 2s ease-in-out;
        transform: scale(1.2);
    }


    header .rightIcons li{
        display: inline-flex;
        margin-left: 30px;
        width: 40px;
        height: 40px;
        justify-content: space-evenly;
    }
    
.rightIcons a img{
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


    li {
        margin-left: 10px;
    }
    
    li a {
        padding: 10px;
    }
    
    header .headerLogo{
        width: 10%;
        align-items: center;
        justify-content: center;
        border: 2px solid yellow;
    }
    
    
    header.logo{
        align-items: center;
        box-sizing: border-box;
        margin-right: 10px;
        
    
    }
    
    .logo {
        width: 100px;
    }

    .logo:hover {
        cursor: pointer;
    }
    
    header a{
        margin-right: 350px;
        cursor: pointer;
    }

    a:hover{
        cursor: pointer;
    }
     
    /* nav */
.menu {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

    section nav ul{
        display: flex;
        justify-content: space-evenly;
        width: 700px;
    
    }
    
    section nav ul li a{
        color: rgb(255, 255, 255)
    }

 
.menu a:hover {
    color: #f8b500;
    transition:  color .7s;

}

 
    
    
   .textBox {
        color: burlywood;
        
        width: 600px;
        margin-top: 40px;
        margin-right: 5%;
        margin-left: 5%;
        align-items: center;
    
    }

    .textBox p{
        width: 100%;
        text-align: justify;
        margin-left: 25%;
        margin-right: 25%;

    }
  

    
    h2 {
        font-size: 40px;
        color: #f8b500;
        line-height: 75px;
        margin-bottom: 30px;
        padding-left: 145px;
        
    }
    
    h2 span{
        color: white;
    }
    
    p{
        color: white;
       margin-bottom: 60px;
       
    }

    #span-para {
        font-size: 24px;
        color: #f8b500;
    }
    #span-para2 {
        font-size: 20px;
        color:#badd00;
    }
    
  .anatomie{
      width: 480px;
      margin-left: 220px;
      
  }
footer {
    margin-left: 28%;
    margin-right: 25%;
    margin-top: 5%;
    font-family: 'Noteworthy', sans-serif;
}

footer p {
    font-size: 12px;
    color: dimgray;
}

footer a {
    font-size: 12px;
    color: dimgray;
}

footer a:hover{
    cursor: pointer;
    color: #f8b500;
}   

}
   

 
    /*pour Tablette*/


    @media screen and (max-width:960px) {


        body {
            margin: 0px;
            padding: 0px;
           
            list-style: none;
            text-decoration: none;
            background-image: url(./Images/fabricationbg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            box-sizing: border-box;
            width: 100vw;
 
           /*
            width: 100%;
            background-color: black;
             */
        }
        
        body, ul,li,p, a {
            margin: 0px;
            padding: 0px;
            list-style: none;
            text-decoration: none;
           
             
        }
         
        * 
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noteworthy', sans-serif;
        
        }
        
        
    
    
        header {
            display: flex;
            margin-top: 20px;
            box-sizing: border-box;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
        }
        
        
        a {
                color: beige;
        }
        
 
        header .headerLogo{
            width: 10%;
            align-items: center;
            justify-content: center;
            border: 2px solid yellow;
        }
        
        header {
            margin-left: 35%;
            margin-right: 35%;

        }

        header.logo{
            align-items: center;
            box-sizing: border-box;

            
        
        }
        
        .logo {
            width: 100px;

        }
    
        .logo:hover {
            cursor: pointer;
        }
        
        header a {
            margin-right: auto;
            cursor: pointer;
        }
    
        a:hover{
            cursor: pointer;
        }
         
        /* nav */
 
        
       .textBox {
 
            width: 100%;
            margin-top: 40px;
            margin-right: 10px;
            margin-left: 10px;
            align-items: center;
        
        }
    
        .textBox p {
 
            text-align: justify;
            padding-left: 12%;
            padding-right: 12%;
 
    
        }
      
    
        
        h2 {
            font-size: 30px;
            color: #f8b500;
            line-height: 75px;
            margin-bottom: 30px;
            padding-left: 10%;
            padding-right: 10%;
            
        }
        
        h2 span{
            color: white;
        }
        
        p{
            color: white;
            margin-bottom: 60px;
           
        }
    
        #span-para {
            font-size: 24px;
            color: #f8b500;
        }
        #span-para2 {
            font-size: 20px;
            color:#badd00;
        }
        
      .anatomie{
          width: 100%;
          padding-left: 10%;
          padding-right: 10%;
   
          
      }
       
    
      footer {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        font-family: 'Noteworthy', sans-serif;
    }
    
    footer p {
        font-size: 12px;
        color: dimgray;
    }
    
    footer a {
        font-size: 12px;
        color: dimgray;
    }
    
    footer a:hover{
        cursor: pointer;
        color: #f8b500;
    } 



    }