@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('http://fonts.cdnfonts.com/css/noteworthy');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* ecran Desktop */

@media screen and (min-width:960px) {

.second-container {
    display: none;
}


    body {
        font-family: 'Nunito', sans-serif;
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        background-image: url(./Images/Homebkg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        box-sizing: border-box;
        max-width: 100vw;
    }
    
    
    header {
        display: flex;
        margin-top: 5px;
        box-sizing: border-box;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }
    
    
    a{
            color: beige;
    }
    
    .icons:hover{
        transition: 2s;
        transform: scale(2.0);
    }
    
    .logo {
        width: 100px;
    }
    
    .logo:hover{
        transition: 2s ease-in-out;
        transform: scale(1.2);
    } 
       
    header  .leftIcons li{
    display: inline-flex;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    justify-content: space-evenly;
    
    }
    
    .leftIcons a img {
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
    }
    
    header .rightIcons li{
        display: inline-flex;
        margin-left: 30px;
        width: 40px;
        height: 40px;
        justify-content: space-evenly;
    }
    
    .rightIcons a img{
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    
    
    li {
        margin-left: 10px;
    }
    
    li a {
        padding: 10px;
    }
    
    
 
    .container {
        display: flex;
        justify-content: center;
     
        align-items: center;
        height: 100vh;
    
    }
    
    .content {
        border-radius: 15px;
        background-color: white;
        width: 960px;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }
    
    .content::before {
        content: "";
        position: absolute;
        background-color: #000000;
        width: 40%;
        height: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    
    
        left: 0;
    }
    
    
    .title {
        font-size: 28px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .title-welcome {
    color: white;
    }
    
    .description {
        font-size: 14px;
        font-weight: 300;
        color: white;
        line-height: 30px;
    }
    
    .description-second{
        color: darkgray;
    }
    
    .btn-one{
        border-radius: 15px;
        text-transform: uppercase;
        color: #000000;
        background-color: #f8b500;
        font-size: 10px;
        padding: 10px 50px;
        cursor: pointer;
        width: 150px;
        align-self: center;
        border-width: 0;
        margin-top: 1rem;
        transition: background-color .7s;
    }
    
    .btn-one:hover {
        color: #f8b500;
        cursor: pointer;
        background-color: #000000;
        border: 1px solid #f8b500;
    }
    
    .btn-two{
        border-radius: 15px;
        text-transform: uppercase;
        color: #000000;
        background-color: #f8b500;
        font-size: 10px;
        padding: 10px 50px;
        cursor: pointer;
        width: 150px;
        align-self: center;
        border-width: 0;
        margin-top: 1rem;
        transition: background-color .7s;
    }
    
    .btn-two:hover {
        color: #f8b500;
        background-color: black;
        cursor: pointer;
    
    }
    
    /* PREMIER CONTENT*/
    .first-content {
        display: flex; 
    }
    
    .first-content .second-column{
        z-index: 11;
    }
    
    .first-column {
        text-align: center;
        /*flex: 1 0 auto;*/
        width: 40%;
        z-index: 10;
         
    }
    
    .second-column {
       /* flex: 2 0 auto;*/
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .social-media {
        margin: 1rem O;
    }
    
    .list-social-media {
        display: flex;
        list-style: none;
       
    }
    
    .item-social-media {
        border: 1px solid #beae20;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    
    }
    
     
    
    .item-social-media:hover{
        cursor: pointer;
    }
    
    .item-social-media a {
        color:#beae20;
        transition: color 2s;
    }
    
    .item-social-media a:hover{
        color: #000000;
    }
    
    .item-social-media:not(:first-child){
        margin-left: 10px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: 55%;
        text-align: center;
    }
    
    .form input{
        height: 45px;
        border: none;
        background-color: #ecf0f1;
        width: 100%;
        
    }
    
    .label-input{
        background-color: #ecf0f1;
        display: flex;
        align-items: center;
        margin: 8px;
    }
    
    .label-input i {
        color: #7f8c8d;
        padding: 0 5px;
    }
    
    
    
    /*  DEUXIEME CONTENT*/
    
    
    .second-content {
        position: absolute;
        display: flex;
        background-color: #ffffff;
    
    }
    
    .second-content .first-column {
        order: 2;
        z-index: -1;
    
    }
    
    .second-content .second-column {
        order: 1;
        z-index: -1;
    }
    
    .password {
        color: #34495e;
        font-size: 14px;
        margin: 15px 0;
        text-align: center;
    }
    
    .password::first-letter{
        text-transform: capitalize;
    }
    
    
    .sign-in-js .first-content .first-column ,
    .sign-in-js .first-content .second-column {
        z-index: -1;
    
    }
    
    
    .sign-in-js .second-content .second-column {
        z-index: 11;
    }
    
    .sign-in-js .second-content .first-column {
        z-index: 13;
    }
    
    .sign-in-js .content::before {
        left: 60%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        animation: slidein 1s ease;
        z-index: 12;
    }
    
    
    
    .sign-up-js .content::before {
        animation: slideout 1s ease;
    }
    
    .sign-up-js .second-content .first-column,
    .sign-up-js .second-content .second-column {
        z-index: -1;
    }
    
    
    .sign-up-js .first-content .second-column {
        z-index: 12;
    }
    
    .sign-up-js .first-content .first-column{
        z-index: 13;
    }
    
    
    
    
    /* ANIMATION */
    
    @keyframes slidein {
    
        from {
    
            left: 0%;
            width: 40%;
        }
    
        25% {
            left: 15%;
            width: 50%;
    
        }
    
    
        50% {
            left: 25%;
            width: 50%;
    
        }
    
        75% {
            left: 45%;
            width: 60%;
        }
    
        to {
            left: 60;
            width: 40%;
        }
    
    
    }
    
    
    
    @keyframes slideout {
    
        from {
            left: 60%;
            width: 40%;
        }
    
        25% {
            left: 45%;
            width: 50%;
        }
    
    
        50% {
            left: 25%;
            width: 60%;
        }
    
        75% {
            left: 15%;
            width: 50%;
        }
    
        to {
            left: 0%;
            width: 40%;
        }
    
    
    }
    
    
    /* ANIMATION 2 */
    
    .sign-in-js .first-content .second-column {
        z-index: -1;
        position: relative;
        animation: deplacementgauche 1s ease-out;
    
    }
    
    @keyframes deplacementgauche {
    
       from {
            left:0;
            opacity: 1;
            z-index: 12;
          
    
    } 
    
        25% {
            left: -80px;
            opacity: .5;
        }
    
    
        50% {
            left: -100px;
            opacity: .2;
        }
    
    
        to {
            left: -110px;
            opacity:0;
            z-index: -1;
        }
    
    
    }
     
    footer {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        font-family: 'Noteworthy', sans-serif;
    }
    
    footer p {
        font-size: 12px;
        color: dimgray;
    }
    
    footer a {
        font-size: 12px;
        color: dimgray;
    }
    
    footer a:hover{
        cursor: pointer;
        color: #f8b500;
    }


}







    /*pour Tablette*/


    @media screen and (max-width:960px) {

        .container {
            display: none;
    
        }
    
      
            body {
                font-family: 'Nunito', sans-serif;
                margin: 0px;
                padding: 0px;
                list-style: none;
                text-decoration: none;
                background-image: url(./Images/Homebkg.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                box-sizing: border-box;
                max-width: 100vw;
            }
            
            
            header {
                display: flex;
                margin-top: 5px;
                box-sizing: border-box;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px;
            }
            
            
            a{
                    color: beige;
            }
            
            
          header  .leftIcons li{
            display: inline-flex;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            justify-content: space-evenly;
            
            }
        
           .leftIcons a img {
               justify-content: space-between;
                width: 100%;
                height: 100%;
               
            }
            
            header .rightIcons li{
                display: inline-flex;
                margin-left: 10px;
                width: 40px;
                height: 40px;
                justify-content: space-evenly;
            }
            
        .rightIcons a img{
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        
        
            li {
                margin-left: 10px;
            }
            
            li a {
                padding: 10px;
            }
            
     
            .title {
                font-size: 28px;
                font-weight: bold;
                text-transform: capitalize;
            }
            
            .title-welcome {
                 color: white;
            }
    
            h2{
                color: #f8b500;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            
            .description {
                font-size: 14px;
                font-weight: normal;
                color: white;
                line-height: 30px;
            }
            
            .description-second{
                color: darkgray;
            }
            
            .btn-one{
                border-radius: 15px;
                text-transform: uppercase;
                color: #000000;
                background-color: #f8b500;
                font-size: 10px;
                padding: 10px 50px;
                cursor: pointer;
                width: 150px;
                align-self: center;
                border-width: 0;
                margin-top: 1rem;
                transition: background-color .7s;
            }
            
            .btn-one:hover {
                color: #f8b500;
                cursor: pointer;
                background-color: #000000;
                border: 1px solid #f8b500;
            }
            
            .btn-two{
                border-radius: 15px;
                text-transform: uppercase;
                color: #000000;
                background-color: #f8b500;
                font-size: 10px;
                padding: 10px 50px;
                cursor: pointer;
                width: 150px;
                align-self: center;
                border-width: 0;
                margin-top: 1rem;
                transition: background-color .7s;
            }
            
            .btn-two:hover {
                color: #f8b500;
                background-color: black;
                cursor: pointer;
            
            }
            
            /* PREMIER CONTENT*/
            .first-content {
                display: flex; 
            }
            
            
            
            .first-column {
                text-align: center;
                /*flex: 1 0 auto;*/
                width: 40%;
     
            }
            .second-column {
                flex: 2 0 auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20%;
            
            }
            
            .social-media {
                margin: 1rem O;
            }
            
            .list-social-media {
                display: flex;
                list-style: none;
               
            }
            
            .item-social-media {
                border: 1px solid #beae20;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
            
            }
            
      
            .item-social-media:hover{
                cursor: pointer;
            }
            
            .item-social-media a {
                color:#beae20;
                transition: color 2s;
            }
            
            .item-social-media a:hover{
                color: #000000;
            }
            
            .item-social-media:not(:first-child){
                margin-left: 10px;
            }
            
            .form {
                display: flex;
                flex-direction: column;
                width: 70%;
                text-align: center;
                margin-left: 25%;
                margin-right: 25%;
            }
            
            .form input{
                height: 45px;
                border: none;
                background-color: #ecf0f1;
                width: 100%;
                
            }
            
            .label-input{
                background-color: #ecf0f1;
                display: flex;
                align-items: center;
                margin: 8px;
                width: 100%;
            }
            
            .label-input i {
                color: #7f8c8d;
                padding: 0 5px;
            }
            
            
            
            /*  DEUXIEME CONTENT*/
            
            
            .second-content {
                position: relative;
                display: flex;
                background-color: #ffffff;
            
            }
            
     
            
            .password {
                color: grey;
                font-size: 14px;
                margin: 15px 0;
                text-align: center;
            }
            
            .password::first-letter{
                text-transform: capitalize;
            }
            
    
             
             
            footer {
                margin-left: 35%;
                margin-right: 35%;
                margin-top: 10%;
                font-family: 'Noteworthy', sans-serif;
            }
            
            footer p {
                font-size: 12px;
                color: dimgray;
            }
            
            footer a {
                font-size: 12px;
                color: dimgray;
            }
            
            footer a:hover{
                cursor: pointer;
                color: #f8b500;
            }
        
        
        }


@media screen and (max-width:576px) {



.container {
        display: none;

    }

  
        body {
            font-family: 'Nunito', sans-serif;
            margin: 0px;
            padding: 0px;
            list-style: none;
            text-decoration: none;
            background-image: url(./Images/Homebkg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            box-sizing: border-box;
            max-width: 100vw;
        }
        
        
        header {
            display: flex;
            margin-top: 5px;
            box-sizing: border-box;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
        }
        
        
        a{
                color: beige;
        }
        
        
      header  .leftIcons li{
        display: inline-flex;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        justify-content: space-evenly;
        
        }
    
       .leftIcons a img {
           justify-content: space-between;
            width: 100%;
            height: 100%;
           
        }
        
        header .rightIcons li{
            display: inline-flex;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            justify-content: space-evenly;
        }
        
    .rightIcons a img{
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    
    
        li {
            margin-left: 10px;
        }
        
        li a {
            padding: 10px;
        }
        
 
        .title {
            font-size: 28px;
            font-weight: bold;
            text-transform: capitalize;
        }
        
        .title-welcome {
             color: white;
        }

        h2{
            color: #f8b500;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .description {
            font-size: 14px;
            font-weight: normal;
            color: white;
            line-height: 30px;
        }
        
        .description-second{
            color: darkgray;
        }
        
        .btn-one{
            border-radius: 15px;
            text-transform: uppercase;
            color: #000000;
            background-color: #f8b500;
            font-size: 10px;
            padding: 10px 50px;
            cursor: pointer;
            width: 150px;
            align-self: center;
            border-width: 0;
            margin-top: 1rem;
            transition: background-color .7s;
        }
        
        .btn-one:hover {
            color: #f8b500;
            cursor: pointer;
            background-color: #000000;
            border: 1px solid #f8b500;
        }
        
        .btn-two{
            border-radius: 15px;
            text-transform: uppercase;
            color: #000000;
            background-color: #f8b500;
            font-size: 10px;
            padding: 10px 50px;
            cursor: pointer;
            width: 150px;
            align-self: center;
            border-width: 0;
            margin-top: 1rem;
            transition: background-color .7s;
        }
        
        .btn-two:hover {
            color: #f8b500;
            background-color: black;
            cursor: pointer;
        
        }
        
        /* PREMIER CONTENT*/
        .first-content {
            display: flex; 
        }
        
        
        
        .first-column {
            text-align: center;
            /*flex: 1 0 auto;*/
            width: 40%;
 
        }
        .second-column {
            flex: 2 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20%;
        
        }
        
        .social-media {
            margin: 1rem O;
        }
        
        .list-social-media {
            display: flex;
            list-style: none;
           
        }
        
        .item-social-media {
            border: 1px solid #beae20;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
        
        }
        
  
        .item-social-media:hover{
            cursor: pointer;
        }
        
        .item-social-media a {
            color:#beae20;
            transition: color 2s;
        }
        
        .item-social-media a:hover{
            color: #000000;
        }
        
        .item-social-media:not(:first-child){
            margin-left: 10px;
        }
        
        .form {
            display: flex;
            flex-direction: column;
            width: 70%;
            text-align: center;
            margin-left: 25%;
            margin-right: 25%;
        }
        
        .form input{
            height: 45px;
            border: none;
            background-color: #ecf0f1;
            width: 100%;
            
        }
        
        .label-input{
            background-color: #ecf0f1;
            display: flex;
            align-items: center;
            margin: 8px;
            width: 100%;
        }
        
        .label-input i {
            color: #7f8c8d;
            padding: 0 5px;
        }
        
        
        
        /*  DEUXIEME CONTENT*/
        
        
        .second-content {
            position: relative;
            display: flex;
            background-color: #ffffff;
        
        }
        
 
        
        .password {
            color: grey;
            font-size: 14px;
            margin: 15px 0;
            text-align: center;
        }
        
        .password::first-letter{
            text-transform: capitalize;
        }
        

         
         
        footer {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 10%;
            font-family: 'Noteworthy', sans-serif;
        }
        
        footer p {
            font-size: 12px;
            color: dimgray;
        }
        
        footer a {
            font-size: 12px;
            color: dimgray;
        }
        
        footer a:hover{
            cursor: pointer;
            color: #f8b500;
        }
    
    
    }